.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: rgba(200, 214, 241, 0.781);
}

.all-browsers > h1, .browser {
  margin: 20px;
  padding: 15px;
  border: 2px solid rgba(132, 185, 249, 0.771);
}

.browser {
  background: white;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}

h2 {
  margin: auto;
  color: rgb(4, 4, 4);
  padding: 1rem 3rem;
}